@import "tailwindcss";

@theme {
    --color-inknity-purple: #820399;
    --color-inknity-dark-purple: #100D28;
    --color-inknity-yellow: #EFC409;
    --color-inknity-white: #F2F0EF;
    --font-ubuntu: "Ubuntu", sans-serif;
}

@layer base {
    body {
        @apply bg-inknity-dark-purple text-inknity-white font-ubuntu;
    }
}

@layer components {
    .input {
        @apply border border-inknity-white/80 rounded outline-none focus:border-inknity-white focus:rounded-md;
    }

    .button {
        @apply border border-inknity-purple bg-inknity-purple/15 rounded font-bold cursor-pointer hover:bg-inknity-purple/30 hover:rounded-md;
    }
}